body {
    margin: 0;
  }
  
  .first-screen {
    background: linear-gradient(to right, green 0%, green 50%, red 50%, red 100%);
    padding: 30px 100px;
    /* min-height: 100vh; */
  }
  
  .second-screen {
    /* min-height: 100vh; */
  }
  
  .game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .drop-button {
    height: 80px;
    width: 240px;
    border-radius: 9999px;
    font-size: 45px;
    align-content: center;
  }
  
  .result-text {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
  }
  
  .side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .up {
    left: 0;
  }
  
  .up-count {
    transform: rotate(-90deg);
  }
  
  .down {
    right: 0;
  }
  
  .down-count {
    transform: rotate(90deg);
  }