* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.first-screen {
  background: linear-gradient(
    to right,
    rgb(0, 205, 82) 0%,
    rgb(0, 205, 82) 50%,
    rgb(255, 22, 36) 50%,
    rgb(255, 22, 36) 100%
  );
  padding: calc(30 / 1440 * 100vw) 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-content {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hleb {
  height: 50vh;
}

.arrow {
  width: 60px;
}

.drop-button {
  height: 80px;
  width: 250px;
  border-radius: 9999px;
  font-size: 40px;
  align-content: center;
  background-color: white;
  transition: background-color 0.2s ease;
  border-color: transparent;
  font-family: Suisse Int\'l Book, Suisse Int\'l;
  cursor: pointer;
}


.drop-button:disabled {
  opacity: 0;
  pointer-events: none;
}

.scroll-button {
  background-color: transparent;
  border: 0;
  margin-bottom: -20px;
}

.result-text {
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
  font-size: 40px;
  font-family: Suisse Int\'l Book, Suisse Int\'l;
}

.side {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  text-transform: uppercase;
  font-family: Suisse Int\'l Book, Suisse Int\'l;
}

.up {
  left: 0;
}

.up-count {
  transform-origin: center top;
  transform: translateX(-50%) rotate(-90deg);
}

.down {
  right: 0;
}

.down-count {
  transform-origin: center top;
  transform: translateX(50%) rotate(90deg);
}

.second-screen {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 30px;
  /* text-transform: uppercase; */
  font-family: Suisse Int\'l Book, Suisse Int\'l;
  display: flex;
}

.left-text {
  width: 660px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 20px;
}

.right-text {
  width: 660px;
  padding-top: 30px;
  padding-left: 70px;
}