body {
    background: linear-gradient(to right, green 0%, green 50%, red 50%, red 100%);
    padding: 0 100px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .drop-button {
    height: 80px;
    width: 240px;
    border-radius: 9999px;
    font-size: 45px;
    align-content: center;
  }
  
  .result-text {
    text-transform: uppercase;
    text-align: center;
  }
  
  .side {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    text-transform: uppercase;
  }
  
  .up {
    left: 0;
  }
  
  .up-count {
    transform: rotate(-90deg);
  }
  
  .down {
    right: 0;
  }
  
  .down-count {
    transform: rotate(90deg);
  }